@charset "UTF-8";
/*############################### Begin Reset ###############################*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body, html {
	background: #ecf0f1;;
	padding: 0;
	margin: 0;
	
}

a:link { color: #585858 }
a:link { font-weight: bold }



/*############################### End Reset ###############################*/

#head {
	margin: 10px 0 10px 0;
	color: #585858;
}


h1 {
	font-size: 200%;
	font-family: sans-serif;
	text-align: center;
}

#map {
	width: 100%;
	height: 300px;
	margin: 0 0 15px 0;
}


#label {
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
}


#input {
	width: 100%;
	text-align: center;
	margin: 35px 0 0 0;
}

#inputElements {
	display: inline-block;
}

#zip {
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px;
	font-size: 17px;
	width: 196px;
	padding: 0px 0px 8px 5px;
}

#btn {
	font-size: 17px;
	color: #FFF;
	border: medium none;
	border-radius: 6px;
	padding: 5px 19px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #1ABC9C;
	width: 196px;
}


#resultsDiv {
	width: 100%;
	margin: 5% 0 0 0;
	text-align: center;
}

.weatherLabels {
	font-size: 17px;
	margin-bottom: 50px;
	color: #FFF;
	background: rgb(26, 188, 156) none repeat scroll 0% 0%;
	width: 100%;
	padding: 10px 0px;
}

.resultsDisplay {
	display: inline-block;
	font-family: sans-serif;
	text-align: center;
	font-size: 500%;
	color: #585858;
	background: #FFF none repeat scroll 0% 0%;
	margin: 0% 0% 0% 0.25em;
	box-shadow: 3px 3px 1px #D9D9D9;
	width: 16%;
	padding: 20px 0 0 0;
}

.serviceLinks {
	text-decoration: none;
}


#footer {
	bottom: 5px;
	position: fixed;
	width: 100%;
}

#footertext {
	font-family: sans-serif;
	font-size: 12px;
	color: #585858;
	line-height: 1.5;
	text-align: center;
}




/* ############################### Styles for mobile ############################### */


/* ~~~~~~~~~~~~~~~~~~~~~ iPhone 6+ portrait ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 376px) 
	and (max-device-width : 414px) 
	and (orientation : portrait)
{
	
#map {
	height: 200px;
}

#input {
	display: inline-block;
	margin: .50em 0 0 0;
	width: 100%;
}

#inputElements {
	margin: 0 1.5em 0 2em;
}

#zip {
	padding: 3px 0px 5px 5px;
	float: left;
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px 5px 15px 5px;
	font-size: 17px;
}

#btn {
	-webkit-appearance: none;
}

.resultsDisplay {
	margin: .2em 0 0 0;
	font-size: 5em;
	width: 80%
}

.weatherLabels {
	font-size: .25em;
	margin-bottom: 20px;
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPhone 6 portrait ~~~~~~~~~~~~~~~~~~~~~ */

@media only screen 
	and (min-device-width : 0px) 
	and (max-device-width : 375px) 
	and (orientation : portrait)
{
	
#map {
	height: 200px;
}
 
#input {
	display: inline-block;
	margin: .50em 0 0 0;
	width: 100%;
}

#zip {
	padding: 3px 0px 5px 5px;
	float: left;
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px 5px 15px 5px;
	font-size: 17px;
}

#btn {
	-webkit-appearance: none;
}

.resultsDisplay {
	font-size: 3.7em;
	margin: .2em 0em 0em 0em;
	width: 80%
}

#footer {
	position: relative;
	margin-top: 35px
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPad portrait ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px)
	and (orientation : portrait)
{

#input {
	display: table;
	margin: 5px 33% 0px 0px;
	width: 30%;
	box-sizing: border-box;
	vertical-align: baseline;
	float: right;
}

#zip {
	padding: 3px 0px 5px 5px;
	float: left;
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px 5px 15px 5px;
	font-size: 17px;
}

#btn {
	-webkit-appearance: none;
}

#resultsDiv {
	margin: 8em 0 0 0;
	padding: 0 0 0 2.5em
}

.resultsDisplay {
	font-size: 4.5em;
	margin: .7em .6em 0em .1em;
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPad landscape ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape)
{

#input {
	display: table;
	margin: 5px 30% 0px 0px;
	width: 30%;
	box-sizing: border-box;
	vertical-align: baseline;
	float: right;
}

#zip {
	padding: 3px 0px 5px 5px;
	float: left;
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px 5px 15px 5px;
	font-size: 17px;
}

#btn {
	font-size: 20px;
	border: medium none;
	width: 196px;
	padding: 5px 0px 5px 0px;
	margin: 0px 105px 0px 0px;
	background-color: #1ABC9C;
	-webkit-appearance: none;
}

#resultsDiv {
	margin: 120px 0px 0px 0px;
}

}










