@charset "UTF-8";
/*############################### Begin Reset ###############################*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body, html {
	background: #ecf0f1;;
	padding: 0;
	margin: 0;
	
}

a:link {
	color: #585858;
	font-weight: lighter;
}

a:hover { font-weight: bold }
a:visited { color: #383838 }



/*############################### End Reset ###############################*/

#head {
	margin: 10px 0 10px 0;
	color: #585858;
}


h1 {
	font-size: 200%;
	font-family: sans-serif;
	text-align: center;
}

#map {
	width: 100%;
	height: 300px;
	margin: 0 0 15px 0;
}


#label {
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
}


#input {
	width: 100%;
	text-align: center;
	margin: 35px 0 45px;
}

#inputElements {
	display: inline-block;
}

#zip {
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px;
	font-size: 17px;
	width: 196px;
	padding: 0px 0px 8px 5px;
}

/*############################### Weather Cards ###############################*/

#btn {
	font-size: 17px;
	color: #FFF;
	border: medium none;
	border-radius: 6px;
	padding: 5px 19px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #1ABC9C;
	/*width: 196px;*/
}




#resultsDiv {
  width: 100%;
  text-align: center;
}

.container {
  position: relative;
}

.weatherLabels {
	font-size: 17px;
	margin-bottom: 50px;
	color: #FFF;
	background: rgb(26, 188, 156) none repeat scroll 0% 0%;
	width: 100%;
	padding: 10px 0px;
}

.cardHolder {
    display: inline-block;
    margin: 0px 15px;
}

/* card fronts and backs */
.card__front,
.card__back {
    text-align: center;
    color: #585858;
    background: #FFF none repeat scroll 0% 0%;
    margin: 0% 0% 0% 0%;
    box-shadow: 3px 3px 1px #D9D9D9;
    width: 300px;
    height: 300px;
    padding: 20px 0 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__front {
	position: absolute;
}

.card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}


/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}


.tempNumber {
	font-family: sans-serif;
	font-size: 5.5em;
}


.serviceLinks {
	text-decoration: none;
}


.atribUi {
	margin: 75px 0px 0px 0px;
}

.highLow{
	font-size: 3em;
}

.linkBack {
	margin-top: 120px;
}

#footer {
	bottom: 5px;
	position: fixed;
	width: 100%;
}

#footertext {
	font-family: sans-serif;
	font-size: 12px;
	color: #585858;
	line-height: 1.5;
	text-align: center;
}




/* ############################### Styles for mobile ############################### */


/* ~~~~~~~~~~~~~~~~~~~~~ iPhone 6+ portrait ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 376px) 
	and (max-device-width : 414px) 
	and (orientation : portrait)
{
	
#map {
	height: 200px;
}

#input {
	display: inline-block;
	margin: .50em 0 0 0;
	width: 100%;
}

#inputElements {
	margin: 0 1.5em 0 2em;
}

#zip {
	padding: 3px 0px 5px 5px;
	float: left;
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px 5px 15px 5px;
	font-size: 17px;
}

#btn {
	-webkit-appearance: none;
}

.cardHolder {
	display: inline-block;
	margin: 40px 0px 0px 0px;
}

.weatherLabels {
	margin-bottom: 20px;
	font-family: sans-serif;
}

.tempNumber {
	margin-top: 25px;
}

.linkButton {
margin-top: 30px;
}

#footer {
	position: relative;
	margin-top: 35px
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPhone 6+ Landscape ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 376px) 
	and (max-device-width : 414px) 
	and (orientation : landscape)
{
	
#map {
	height: 200px;
}


#btn {
	-webkit-appearance: none;
}


#footer {
	position: relative;
	margin-top: 35px
}

.cardHolder {
	display: inline-block;
	margin: 20px 10px;
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPhone 6 portrait ~~~~~~~~~~~~~~~~~~~~~ */

@media only screen 
	and (min-device-width : 0px) 
	and (max-device-width : 375px) 
	and (orientation : portrait)
{
	
#map {
	height: 200px;
}
 
#input {
	display: inline-block;
	margin: .50em 0 0 0;
	width: 100%;
}

#zip {
	padding: 3px 0px 5px 5px;
	float: left;
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px 5px 15px 5px;
	font-size: 17px;
}

#btn {
	-webkit-appearance: none;
}

.cardHolder {
	display: inline-block;
	margin: 40px 0px 0px 0px;
}

.weatherLabels {
	margin-bottom: 20px;
	font-family: sans-serif;
}

.tempNumber {
	margin-top: 25px;
}

.linkButton {
margin-top: 30px;
}

#footer {
	position: relative;
	margin-top: 35px
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPhone 6 Landscape ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 0px) 
	and (max-device-width : 375px) 
	and (orientation : landscape)
{
	
#map {
	height: 200px;
}


#btn {
	-webkit-appearance: none;
}

.cardHolder {
	display: inline-block;
	margin: 20px 10px;
}

#footer {
	position: relative;
	margin-top: 35px
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPad portrait ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px)
	and (orientation : portrait)
{

#input {
	display: table;
	margin: 5px 33% 0px 0px;
	width: 30%;
	box-sizing: border-box;
	vertical-align: baseline;
	float: right;
}

#zip {
	padding: 3px 0px 5px 5px;
	float: left;
	border-color: #1ABC9C;
	border-radius: 6px;
	margin: 0px 5px 15px 5px;
	font-size: 17px;
}

#btn {
	-webkit-appearance: none;
}

#resultsDiv {
	margin: 8em 0 0 0;
}

#footer {
	position: relative;
	margin-top: 95px;
}

}

/* ~~~~~~~~~~~~~~~~~~~~~ iPad landscape ~~~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape)
{

#btn {
	-webkit-appearance: none;
}

#resultsDiv {
	margin: 0px 50px 0px 55px;
	width: 90%;
}

.cardHolder {
	display: inline-block;
	margin: 20px 10px;
}

#footer {
	position: relative;
	margin-top: 95px;
}

}










